.pwr-label {
    color: #333;
    font-size: 10px;
    font-weight: 300;
    margin-top: 15px;
    letter-spacing: 3px;
    margin-left: 5px;
}

.btn-power {
    width: var(--pwr-button-size);
    height: var(--pwr-button-size);
    background:
        conic-gradient(from -90deg,
            #d8d8d8 0%, #ffffff 5%, #d8d8d8 10%, #bfbfbf 15%,
            #d8d8d8 20%, #ffffff 25%, #d8d8d8 30%, #bfbfbf 35%,
            #d8d8d8 40%, #ffffff 45%, #d8d8d8 50%, #bfbfbf 55%,
            #d8d8d8 60%, #ffffff 65%, #d8d8d8 70%, #bfbfbf 75%,
            #d8d8d8 80%, #ffffff 85%, #d8d8d8 90%, #bfbfbf 95%,
            #d8d8d8 100%),
        repeating-radial-gradient(circle, #e6e6e6 0px, #e6e6e6 1px, #d9d9d9 1px, #d9d9d9 2px);

    border: 2px solid rgba(8, 8, 8, 0.452);

    border-radius: 50%;
    cursor: pointer;
    font-size: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #333;
    transition: all 0.1s ease;
    margin-left: 5px;
}

.btn-power:active {
    transform: scale(0.96);
    box-shadow: inset 0 3px 8px rgba(0, 0, 0, 0.2);
    filter: brightness(0.95);
}